<div class="row">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Crear usuario</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="UserForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Anthony Salazar">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Cedula o Pasaporte</label>
                <input type="text" class="form-control" formControlName="dni" placeholder="17777777 - ZABOOOO">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Telefono</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="099999999 - 22123123">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 px-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Contraseña</label>
                <input type="text" formControlName="password" class="form-control">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Rol</label>
                <!-- <input type="text" formControlName="role" class="form-control"> -->
                <select class="form-control" formControlName="role" aria-label="Default select example">
                  <option selected>Roles disponibles</option>
                  <option value="1">Admin</option>
                  <option value="2">User</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de usuarios</h4>
      </div>
      <div class="card-body">


        <table class="table ">
          <tr>

            <th>Nombre</th>
            <th>Telefono</th>

            <th width="220px">Action</th>

          </tr>
          <tr *ngFor="let user of Users">
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>

            <td>
              <button type="button" class="btn btn-sm btn-outline-success btn-round btn-icon"
                (click)=selectUser(user)><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-sm btn-outline-danger btn-round btn-icon" (click)=deleteUser(user)><i
                  class="fas fa-trash"></i></button>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>