<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Glicemias</h4>
      </div>
      <input type="text" placeholder="Buscar por paciente" class="form-control col-md-3" [(ngModel)]="filteredString"/>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>Dia</th>
                <th>Paciente</th>
                <th> Ayunas</th>
                <th>Nph_lantus</th>
                <th>Insulina</th>

                <th>Media Mañana</th>
                <th>Insulina</th>

                <th>Almuerzo</th>
                <th>Insulina</th>

                <th>Media Tarde</th>
                <th>Insulina</th>

                <th> Merienda</th>
                <th>Insulina</th>
                <th>Nph_lantus</th>


                <th> Dormir</th>
                <th>Madrugada</th>
                <th>Correciones</th>
              </tr>
              <tr *ngFor="let paper of papers "> 
                <!-- | filter:filteredString  -->
                <th>{{paper.dia}}</th>
                <th>{{paper.user_id}}</th>
                <th>{{paper.ayunas}}</th>
                <th>{{paper.nph_lantus}}</th>
                <th>{{paper.rapida_ultra_rap}}</th>
                <th>{{paper.media_manana}}</th>
                <th>{{paper.rapida_ultra_rap_m}}</th>
                <th>{{paper.almuerzo}}</th>
                <th>{{paper.rapida_ultra_rap_a}}</th>
                <th>{{paper.media_tarde}}</th>
                <th>{{paper.rapida_ultra_rap_t}}</th>
                <th>{{paper.merienda}}</th>
                <th>{{paper.rapida_ultra_rap_md}}</th>
                <th>{{paper.nph_lantus_md}}</th>
                <th>{{paper.dormir}}</th>
                <th>{{paper.madrugada}}</th>
                <th>{{paper.correcion_total}}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>