<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Glicemias</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Dia</th>

              <th> Ayunas</th>
              <th>Nph_lantus</th>
              <th>Insulina</th>

              <th>Media Mañana</th>
              <th>Insulina</th>

              <th>Almuerzo</th>
              <th>Insulina</th>

              <th>Media Tarde</th>
              <th>Insulina</th>

              <th> Merienda</th>
              <th>Insulina</th>
              <th>Nph_lantus</th>


              <th> Dormir</th>
              <th>Madrugada</th>
              <th>Correciones</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>