<div class="row">
  <div id="contenedor" class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Crear registro diario</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="PaperForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12 pr-2">
              <div class="form-group">
                <label>Dia</label>
                <input type="date" formControlName="dia" class="form-control">
              </div>
            </div>
          </div>

          <!--Ayunas -->
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Ayunas</label>
                <input type="number" formControlName="ayunas" class="form-control">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Nph Lantus</label>
                <input type="number" formControlName="nph_lantus" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-2">
              <div class="form-group">
                <label>Insulina</label>
                <input type="number" formControlName="rapida_ultra_rap" class="form-control">
              </div>
            </div>
          </div>

          <!--  Media Mañana -->
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Media Mañana</label>
                <input type="number" formControlName="media_manana" class="form-control">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Insulina</label>
                <input type="number" formControlName="rapida_ultra_rap_m" class="form-control">
              </div>
            </div>
          </div>


          <!--  Almuerzo -->
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Almuerzo</label>
                <input type="number" formControlName="almuerzo" class="form-control">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Insulina</label>
                <input type="number" formControlName="rapida_ultra_rap_a" class="form-control">
              </div>
            </div>
          </div>

          <!-- Media Tarde -->
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Media Tarde</label>
                <input type="number" formControlName="media_tarde" class="form-control">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Insulina</label>
                <input type="number" formControlName="rapida_ultra_rap_t" class="form-control">
              </div>
            </div>
          </div>

          <!-- Merienda -->
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Merienda</label>
                <input type="number" formControlName="merienda" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Insulina</label>
                <input type="number" formControlName="rapida_ultra_rap_md" class="form-control">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Nph Lantus</label>
                <input type="number" formControlName="nph_lantus_md" class="form-control">
              </div>
            </div>
          </div>

          <!--Final del dia  -->
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Dormir</label>
                <input type="number" formControlName="dormir" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-2">
              <div class="form-group">
                <label>Madrugada</label>
                <input type="number" formControlName="madrugada" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-2">
              <div class="form-group">
                <label>Correciones</label>
                <input type="number" formControlName="correcion_total" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Registros creados</h4>
      </div>
      <div class="card-body">
        <table class="table ">
          <tr>

            <th>Fecha</th>
            <th>Correcciones totales</th>

            <th width="220px">Action</th>

          </tr>
          <tr *ngFor="let paper of papers">
            <td>{{paper.dia}}</td>
            <td>{{paper.correcion_total}}</td>

            <td>
              <button type="button" (click)=selectPaper(paper)
                class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fas fa-edit"></i></button>

            </td>
          </tr>
        </table>


      </div>
    </div>
  </div>
</div>