<div class="row">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Crear registro diario</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12 pr-2">
              <div class="form-group">
                <label>Dia</label>
                <input type="date" class="form-control">
              </div>
            </div>
          </div>

          <!--Ayunas -->
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Ayunas</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Nph Lantus</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-2">
              <div class="form-group">
                <label>Rap ultra rapida</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>

          <!--  Media Mañana -->
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Media Mañana</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Rap ultra rapida</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>


          <!--  Almuerzo -->
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Almuerzo</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Rap ultra rapida</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>

          <!-- Media Tarde -->
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Media Tarde</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Rap ultra rapida</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>

          <!-- Merienda -->
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Merienda</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Rap ultra rapida</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Nph Lantus</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>

          <!--Final del dia  -->
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Dormir</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-2">
              <div class="form-group">
                <label>Madrugada</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-2">
              <div class="form-group">
                <label>Correciones</label>
                <input type="number" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Registros creados</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>